<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Analyze Binary File (1520 Signal)</title>
</head>
<body>
<h1>Analyze Binary File</h1>
<div class="console">
    <form action="/" class="fields" method="post" enctype="multipart/form-data">
        <label>
            Binary file:
            <input name="binary_input_data" type="file">
        </label>
        <br>
        <br>
        <input type="submit" value="Process selected file">
    </form>
    <br>
    <br>
    <a href="./stat">Request Statistics</a>
</div>
</body>
</html>
